<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/app.css">
  </head>

  <body>
    <h1>League of Cool Kickball Professionals</h1>
      <ul>
  	    <li><a href=/teams>Teams</a></li>
  	    <li><a href=/players>Players</a></li>
  	    <li><a href=/positions>Positions</a></li>
  	  </ul>
  </body>
</html>
